# --------------------
# Python
# --------------------
__pycache__/
*.pyc
*.pyo
*.pyd

# --------------------
# Virtual Environments
# --------------------
venv/
.venv/
env/
ENV/
airflow_venv/
.airflow_venv/
.airflow_wsl_venv/

# --------------------
# Environment / Secrets
# --------------------
.env
.env.*
*.env


# --------------------
# Data Files
# --------------------
data/raw/*.csv
data/interim/*.csv
data/processed/*.npz

# --------------------
# Models & Reports
# --------------------
models/*.pt
reports/*.json

# --------------------
# DVC
# --------------------
.dvc/cache/
.dvc/tmp/
.dvc/config.local

# --------------------
# Airflow
# --------------------
.airflow/
airflow.db
airflow-webserver.pid
logs/
*.log

# --------------------
# Jupyter
# --------------------
.ipynb_checkpoints/

# --------------------
# OS / IDE
# --------------------
.DS_Store
Thumbs.db
.vscode/
.idea/
mlruns/